body {
    background-color: #FFFFFF;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {}


.container {
	margin: 50px;
}

.maintext {
	width: 500px;
}

.landingtitle {
	font-size: 100px;
}

.landingoptions {
	font-size: 20px;
}

